 {% extends 'base.html' %} {% block content %}

<form method="GET" action="{% url 'plots' %}" id="form-stat">
    <section>
        <h4>Choose technological parameters: </h3>
            <select id="myselect" name="group"  size="8" class="">
                <option value="50">Power consumption on the meter №1 </option>
                <option value="51">Power consumption on the meter №2 </option>
                <option value="102">Melt pressure in extruder B</option>
                <option value="138">Melt pressure in extruder С</option>
                <option value="145">Melt temperature of extruder C</option>
                <option value="151">Melt temperature of zone №4 of extruder C(ExtC_IST_Temp_Zone4)</option>
                <option value="170" selected>Weight of the composition</option>
                <option value="203">Preliminary property </option>
            </select>

            <h4>Defect type:</h3>
                <select name="defect" class="">
                    <option value="318">Stippe_-3000</option>
                    <option value="321">Stippe_-5000</option>
                    <option value="326">Unbekannt_-10000</option>
                    <option value="291">Stippe mit Hof_-5000</option>
                    <option value="277">Schwere VU/FK_-18000</option>
                </select>

                <div class="card-action ">

                    <button id="getValue" class="btn view-center" type="submit" name="action">Plot

                    </button>
                </div>

    </section>
</form>

<




{% endblock content %} {% block script %}
<script>
    var myLineChart = null;
    var ctx = null;
    var endpoint = '/api/plot/data/';

        ctx = document.getElementById("myChart").getContext("2d");
        myLineChart = new Chart(ctx, config);
        myLineChart.update();









    });
    /*$.ajax({
        method: "GET",
        url: endpoint,

        success: function (data) {

            labels = data.labels
            defaultData = data.prediction
            realData = data.real
            colors = data.color
            $("#preloader").remove()
            setChart()

        },
        error: function (error_data) {
            console.log("error")
            console.log(error_data)
        }
    })*/


</script> {% endblock %}
